<html>
  <head>
    <title>Banking Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/style.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="rendered-form">
        <div class="formbuilder-select form-group field-select-1639600188559">
            <label for="select-1639600188559" class="formbuilder-select-label">From<span class="formbuilder-required">*</span></label>
            <select class="form-control" name="select-1639600188559" id="select-1639600188559" required="required" aria-required="true">
                <option value="A1" selected="true" id="select-1639600188559-0">Checkings</option>
                <option value="A2" id="select-1639600188559-1">Savings</option>
            </select>
        </div>
        <div class="formbuilder-select form-group field-select-1639600318045">
            <label for="select-1639600318045" class="formbuilder-select-label">To<span class="formbuilder-required">*</span></label>
            <select class="form-control" name="select-1639600318045" id="select-1639600318045" required="required" aria-required="true">
                <option value="B1" selected="true" id="select-1639600318045-0">B Checking</option>
                <option value="B2" id="select-1639600318045-1">B Savings</option>
            </select>
        </div>
        <div class="formbuilder-number form-group field-number-1639600331541">
            <label for="number-1639600331541" class="formbuilder-number-label">Amount<span class="formbuilder-required">*</span></label>
            <input type="number" class="form-control" name="number-1639600331541" access="false" value="4000.00" min="0" id="number-1639600331541" required="required" aria-required="true">
        </div>
        <div class="formbuilder-date form-group field-date-1639600339725">
            <label for="date-1639600339725" class="formbuilder-date-label">Date<span class="formbuilder-required">*</span></label>
            <input type="date" class="form-control" name="date-1639600339725" access="false" id="date-1639600339725" required="required" aria-required="true">
        </div>
        <div class="formbuilder-button form-group field-button-1639600345388">
            <button type="button" class="btn-primary btn" name="button-1639600345388" access="false" style="primary" id="button-1639600345388">Continue</button>
        </div>
        <div class="formbuilder-button form-group field-button-1639600346716">
            <button type="button" class="btn-danger btn" name="button-1639600346716" access="false" style="danger" id="button-1639600346716">Cancel</button>
        </div>
    </div>
